* {
    font-family: 'Lato', sans-serif, 'Arial';
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

.top_header {
    background-color: #bc0d3c;
    height: 5px;
}

header {
    background-color: #fff;
}

/*LOGO*/
.custom-logo {
    height: 60px;
    width: auto;
    margin: 20px 0 20px 0;
}

/*MENU PRINCIPAL*/
.navbar-light .navbar-nav .nav-link {
    color: #111111;
    font-weight: 600;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #bc0d3c;
    border-bottom: 2px solid #111111;
    padding-bottom: 1px;
}

.dropdown-item {
    font-weight: 500;
    color: #111111;
}

.dropdown-item:hover::after {
    content: '';
    display: block;
    width: 30px;
    border-top: 2px solid #bc0d3c;
}

/* BANNER HOME/PAGE/SINGLE*/
.banner {
    background-image: url('../img/bg-cap.png');
    background-position: center;
}

.banner h2 {
    font-size: 30px;
    color: #fff;
    margin-top: 40px;
    line-height: 38px;
}

.banner h2 strong {
    color: #bc0d3c;
}

.banner h2:hover strong {
    color: #04c471;
}

.banner .optin {
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
}

.banner .optin form {
    margin-top: 15px;
}

.banner .optin_email {
    height: 45px;
    width: 100%;
    max-width: 330px;
    font-size: 14px;
    border: 0;
    outline: 0;
    color: #333;
    padding: 0 15px 0 15px;
    box-shadow: 2px 2px 8px rgb(22, 22, 22);
}

.banner .optin_btn {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #04c471;
    background-color: #03072b;
    border: 0;
    
    padding: 0 23px 0 23px;
    margin-left: 10px;
    box-shadow: 2px 2px 8px rgb(22, 22, 22);
}

.banner .optin_btn:hover {
    color: #03072b;
    background-color: #04c471;
}

.banner form {
    margin-bottom: 10px;
}

.banner p {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 20px;
}

.banner-small {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.banner-small h2 {
    margin-top: 50px;
}

/*HERO IMAGE*/
.hero-image {
    height: 250px;
    width: auto;
    margin: 40px 5px 10px 5px;
}

/*DEPOSITIONS*/
.depositions {
    height: 100px;
    background-color: #e3e3e3;
    padding-top: 17px;
}

.depositions img {
    height: 65px;
    width: auto;
    margin-right: 20px;
    border-radius: 5px;
    float: left;
}

/*BAR CTA*/
.barcta {
    background-color: #bc0d3c;
    color: #fff;
    padding: 3px;
}

.barcta:hover {
    background-color: #111111;
    color: #bc0d3c;
}

.barcta .cta {
    padding-top: 12px;
}

.barcta p {
    font-size: 17px;
    font-weight: 600;
    padding-top: 12px;
}

.barcta .cta button {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #bc0d3c;
    background-color: #111111;
    border: 0;
    padding: 0 23px 0 23px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 4px 8px #000;
}

.barcta:hover .cta button {
    color: #111111;
    background-color: #bc0d3c;
}

/*LOOP DE POSTS*/
article.type-post {
    margin: 45px 0 45px 0;
}

.post_thumb {
    width: 100%;
    height: auto;
}

.post_category h6 a {
    color: #bc0d3c;
}

.post_title {
    font-size: 25px;
    font-weight: bold;
}

.post_title a {
    color: #111111;
    text-decoration: none;
}

.post_title a:hover {
    border-bottom: 1px solid #bc0d3c;
}

.post_info {
    margin-left: 16px;
}

.post_info p {
    font-size: 15px;
}

.post_info p a {
    color: #bc0d3c;
    text-decoration-color: #111111;
}

hr {
    margin-top: 0;
    margin-bottom: 10;
    border: 0;
    border-top: 1px solid #111111;
}

.post_excerpt {
    font-size: 15px;
    color: #000;
    text-align: justify;
}

.post_readmore {
    margin-top: 25px;
}

.post_button {
    padding: 10px;
    font-size: 14px;
    color: #111111;
    background-color: transparent;
    border: 2px solid #111111;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}

.post_button:hover {
    background-color: #111111;
    color: #bc0d3c;
    border: 2px solid #bc0d3c;
}

/*FORM SEARCH*/
.btn_form {
    margin-bottom: 20px;
}

.form-control{
    border: 1px solid #111111
}

.btn_search {
    background-color: #111111;
    color: #bc0d3c;
    border: none;
    border-radius: 0  5px 5px 0;
    padding-left: 15px;
    padding-right: 15px;
}

/*SIDEBAR*/
.sidebar {
    margin-top: 40px;
}

.sidebar .widget{
    /*border: 1px solid #03072b;*/
    margin-bottom: 20px;
    box-shadow: 0px/*hor.*/ 2px/*vert.*/ 5px #373737;
}

.sidebar .widget_title {
    background-color: #111111;
    color: #bc0d3c;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar ul,
.sidebar li {
    list-style: none;
    display: block;
    padding: 0;
}

.sidebar a,
.sidebar p {
    color: #000;
    padding: 10px;
}

.sidebar span {
    margin: 10px;
}

/*WIDGET SOCIAL MEDIA*/
.content {
    text-align: center;
}

.content ul {
    padding: 20px;
}

.content ul,
.content ul li {
    list-style: none;
}

.content .list-social {
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.list-social .item {
    display: inline-block;
    margin: 0 8px 15px 8px;
    text-align: center;
}

.list-social .item a {
    display: inline-block;
    font-size: 24px;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    padding-bottom: 6px;
    background: #ccc;
    color: #fff;
    box-shadow: 0px 1px 5px #252525;
    border-radius: 50%;
}

.list-social .item a.bg-insta:hover {
    background: #517fa4;
    box-shadow: 0px 3px 5px #252525;
}

.list-social .item a.bg-tt:hover {
    background: #00aced;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-ytb:hover {
    background: #bb0000;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-face:hover {
    background: #3b5998;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-wpp:hover {
    background: #34af23;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-tele:hover {
    background: #32afed;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-snap:hover {
    background: #EFE200;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-google:hover {
    background: #da4d39;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-pinte:hover {
    background: #cb2027;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-pinte:hover {
    background: #cb2027;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-lkd:hover {
    background: #0976b4;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-sty:hover {
    background: #7ab800;
    box-shadow: 0px 3px 5px #3a3a3a;
}

.list-social .item a.bg-sound:hover {
    background: #F15723;
    box-shadow: 0px 3px 5px #3a3a3a;
}

/*PAGINATION*/
.pag {
    margin-top: 30px;
}
.pag a {
    text-decoration: none;
}

.pag a:hover,
.pag i:hover {
    color: #04c471;
}

.pag i {
    color: #03072b;
    font-weight: 700;
}

.page-numbers {
    color: #03072b;
    border: 2px solid #03072b;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
}

.page-numbers.current {
    color: #04c471;
}

/*SINGLE*/
.title-p-s {
    color: #03072b;
    font-size: 35px;
}

.post h6 {
    border: 2px solid #03072b;
    padding: 9px;
    display: inline-block;
}

.post h6 a {
    color: #04c471;
    
}

.post_content {
    margin: 20px 0 50px 0;
}

.post_content img {
    width: 100%;
    height: auto;
}

.post_related {
    margin-bottom: 20px;
}

/*POSTS RELATED*/
.post_related_item {
    margin-bottom: 30px;
}

/*FOOTER*/
.footer_up{
    background-color: #111111;
    padding: 40px 0 40px 0;
}

.footer_widget .widget_title {
    color: #bc0d3c!important;
}

.footer_widget .widget_title::after {
    background-color: #bc0d3c!important;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.footer_widget ul,
.footer_widget li {
    list-style: none;
    display: block;
    padding: 0;
}

.footer_widget a,
.footer_widget p {
    color: #fff;
    text-decoration: none;
}

.line_footer {
    border-top: 1px solid #bc0d3c!important;
    margin: 0;
    padding: 0;
}

.footer_down {
    background-color: #111111;
    padding: 25px 0 5px 0; 
    font-size: 13px;
    color: #bc0d3c;
    text-align: center;
}

.footer_down:hover {
    background-color: #bc0d3c;
    color: #111111;
}

/*COMENTS*/
.commentlist {
    list-style: none;
    padding: 0;
}

.commentlist .comment-body {
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.commentlist .children {
    list-style: none;
}

.commentlist .comment-author {
    margin-bottom: 10px;
}

.commentlist .comment-meta {
    display: none;
}

.comment-respond label {
    display: block;
}

.comment-respond textarea,
.comment-respond input[type=text] {
    width: 300px;
    border: 2px solid #DDDD;
    padding: 5px;
    border-radius: 5px;
    outline: 0;
}

.comment-respond textarea:hover,
.comment-respond input[type=text]:hover {
    box-shadow: 0 0px 0px 3px #DDDD;
}

.comment-respond .submit {
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #04c471;
    background-color: #03072b;
    border: 0;
    padding: 0 23px 0 23px;
}

.comment-respond .submit:hover {
    box-shadow: 0 0px 0px 3px #04c471;
}


/************ PAGE LINKS ************
#page-links {
    background-color: #bc0d3c;
}*/
.content-links {
    text-align: center;
}

.area-author {
    margin-top: 30px;
    margin-bottom: 30px;
}

.area-author img {
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
}

.area-author .userinsta {
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.area-author .pl-description {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

/* .group-links .list-itens {
    display: block;
    margin: 0 auto;
    max-width: 400px;
} */

.group-links .list-itens {
    display: flex;
    justify-content: center;
}

.group-links ul,
.group-links ul li {
    list-style: none;
}

.link-item {
    border: 2px solid #fff;
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.link-item:hover {
    border: 2px solid #111111;
}

.link-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

/************ PAGE WHITE ************/
.content_white p {
    font-size: 18px;
}

/*Tablet Vertical*/
@media (min-width:481px) and (max-width:767px) {
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: none;
    }

    .post_category {
        margin-top: 15px;
    }
}

/*Celular Vertical*/
@media (max-width:480px) {
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: none;
    }
}